.dagger:
  image: mikebrown008/ci-cli-base:0.5
  variables:
    GITLAB: git.apps.eo4eu.eu
    NAMESPACE: ffornari
    REGISTRY: registry.apps.eo4eu.eu
    REPO: uc6
    APP: eo4eu-classifier
    SERVICE: inference-server
    HELM: helm-repo
    REPO_BRANCH: main
    HELM_BRANCH: dev
  before_script:
    - "apk --no-cache add jq"
    - "export VAULT_TOKEN=$(curl -s -X PUT \
      -d '{\"role_id\":\"'$VAULT_ROLE_ID'\",\"secret_id\":\"'$VAULT_SECRET_ID'\"}' \
      \"$VAULT_SERVER_URL/v1/auth/approle/login\" | \
      jq -r '.auth.client_token')"
    - "export BEARER=\"X-Vault-Token: $VAULT_TOKEN\""
    - "export CI_REPO_USERNAME=$(curl -s -H \"$BEARER\" \
      \"$VAULT_SERVER_URL/v1/kv/data/gitlab_credentials/$SERVICE/$REPO\" | \
      jq -r '.data.data.username')"
    - "export CI_REPO_PASSWORD=$(curl -s -H \"$BEARER\" \
      \"$VAULT_SERVER_URL/v1/kv/data/gitlab_credentials/$SERVICE/$REPO\" | \
      jq -r '.data.data.password')"
    - "export CI_COOKIECUTTER_USERNAME=$(curl -s -H \"$BEARER\" \
      \"$VAULT_SERVER_URL/v1/kv/data/gitlab_credentials/cookiecutter-repo\" | \
      jq -r '.data.data.username')"
    - "export CI_COOKIECUTTER_PASSWORD=$(curl -s -H \"$BEARER\" \
      \"$VAULT_SERVER_URL/v1/kv/data/gitlab_credentials/cookiecutter-repo\" | \
      jq -r '.data.data.password')"
    - "export CI_HELM_USERNAME=$(curl -s -H \"$BEARER\" \
      \"$VAULT_SERVER_URL/v1/kv/data/gitlab_credentials/$HELM\" | \
      jq -r '.data.data.username')"
    - "export CI_HELM_PASSWORD=$(curl -s -H \"$BEARER\" \
      \"$VAULT_SERVER_URL/v1/kv/data/gitlab_credentials/$HELM\" | \
      jq -r '.data.data.password')"
    - "export CI_REGISTRY_USERNAME=$(curl -s -H \"$BEARER\" \
      \"$VAULT_SERVER_URL/v1/kv/data/registry_credentials/$SERVICE/$REPO\" | \
      jq -r '.data.data.username')"
    - "export CI_REGISTRY_PASSWORD=$(curl -s -H \"$BEARER\" \
      \"$VAULT_SERVER_URL/v1/kv/data/registry_credentials/$SERVICE/$REPO\" | \
      jq -r '.data.data.password')"
    - "git clone -b $REPO_BRANCH \
      https://$CI_REPO_USERNAME:$CI_REPO_PASSWORD@$GITLAB/$NAMESPACE/$REPO.git"
    - "git clone -b $HELM_BRANCH \
      https://$CI_HELM_USERNAME:$CI_HELM_PASSWORD@$GITLAB/$NAMESPACE/$HELM.git"
    - "export TAG=$(git -C $REPO rev-parse HEAD)"
    - "sed -i 's/\\(  service_image_tag: \"\\)\\(.*\\)/\\1'\"$TAG\"'\"/g' \
      $REPO/cookiecutter-config.yaml"
build_image:
  extends: [.dagger]
  tags: [dagger]
  stage: build
  artifacts:
    untracked: true
  script:
    - cd $REPO
    - |
      if git diff --name-only HEAD~1 | grep -Eq '^(Dockerfile|classifier\.py|requirements\.txt)$'; then
        dagger call build \
        --tag $TAG \
        --wkd . \
        export \
        --path \
        /builds/$NAMESPACE/$REPO/$TAG
      fi
scan_image:
  extends: [.dagger]
  tags: [dagger]
  stage: test
  needs: [build_image]
  dependencies: [build_image]
  script:
    - cd $REPO
    - |
      if git diff --name-only HEAD~1 | grep -Eq '^(Dockerfile|classifier\.py|requirements\.txt)$'; then
        dagger call scan \
        --severity UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL \
        --exit 0 \
        --tag $TAG \
        --wkd /builds/$NAMESPACE/$REPO \
        export \
        --path \
        /builds/$NAMESPACE/$REPO/vulnerabilities.html
        dagger call sbom \
        --tag $TAG \
        --wkd /builds/$NAMESPACE/$REPO \
        export \
        --path \
        /builds/$NAMESPACE/$REPO/sbom-report.cdx.json
      fi
  artifacts:
    when: always
    expire_in: 4 weeks
    paths:
      - vulnerabilities.html
      - sbom-report.cdx.json
push_image:
  extends: [.dagger]
  tags: [dagger]
  stage: deploy
  needs: [scan_image]
  script:
    - cd $REPO
    - |
      if git diff --name-only HEAD~1 | grep -Eq '^(Dockerfile|classifier\.py|requirements\.txt)$'; then
        dagger call push \
        --registry $REGISTRY \
        --repo $REPO \
        --app $APP \
        --tag $TAG \
        --username $CI_REGISTRY_USERNAME \
        --password env:CI_REGISTRY_PASSWORD \
        --wkd .
      fi
update_helm:
  extends: [.dagger]
  tags: [dagger]
  stage: .post
  needs: [push_image]
  artifacts:
    untracked: true
  script:
    - cd $REPO
    - dagger call update
      --gitlab $GITLAB
      --service $SERVICE
      --repo $REPO
      --username $CI_COOKIECUTTER_USERNAME
      --password env:CI_COOKIECUTTER_PASSWORD
      --wkd .
      export
      --path
      /builds/$NAMESPACE/$REPO/$SERVICE-helm
sync_helm:
  extends: [.dagger]
  tags: [dagger]
  stage: .post
  needs: [update_helm]
  dependencies: [update_helm]
  artifacts:
    untracked: true
  script:
    - rm -rf $HELM/$SERVICE
    - cp -r /builds/$NAMESPACE/$REPO/$SERVICE-helm $HELM/$SERVICE/$REPO
    - cd $HELM
    - git config user.email "federico.fornari@ecmwf.int"
    - git config user.name "Cookiecutter"
    - git add --all
    - git commit -m "New commit from Cookiecutter" || true
    - git push